@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-xxl, .btn-wide {
    padding-right: 45px;
    padding-left: 45px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 8px;
}

.btn-info {
    color: #fff;
    background-color: #437ea8;
    border-color: #437ea8;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-bg {
    background-image: url('/assets/logi-img.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center  ; /* Centra la imagen en el fondo */
}

.article-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-bgg {
    background-image: url('/assets/register-img.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center  ; /* Centra la imagen en el fondo */
}

.article-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }