@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-xxl,
.btn-wide {
	padding-right: 45px;
	padding-left: 45px;
}

.btn-lg,
.btn-group-lg>.btn {
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 8px;
}

.btn-info {
	color: #fff;
	background-color: #437ea8;
	border-color: #437ea8;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	border-radius: 6px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.article-bg {
	background-image: url('/assets/logi-img.png');
	background-size: cover;
	background-position: center;
}

.article-content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.article-bgg {
	background-image: url('/assets/register-img.png');
	background-size: cover;
	background-position: center;
}

.article-content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8BA8C4;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
	padding: .5rem;
	margin-right: 1rem;
	
}

.socialContainer {
	border-radius: 50%;
	background-color: #3479f9;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-duration: .3s;
}

.containerOne:hover {
	background-color: #d62976;
	transition-duration: .3s;
}

.containerTwo:hover {
	background-color: #00acee;
	transition-duration: .3s;
}

.containerThree:hover {
	background-color: #0072b1;
	transition-duration: .3s;
}
	
.containerFive:hover {
	background-color: #d10c0c;
	transition-duration: .3s;
}

.containerSix:hover {
	background-color: #7289da;
	transition-duration: .3s;
}

.socialContainer:active {
	transform: scale(0.9);
	transition-duration: .3s;
}

.socialSvg {
	width: 17px;
}

.socialSvg path {
	fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
	animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.App {
	text-align: center;

}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.fixed-chatbot {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chatbot-button {
	background-color: #00B2A9;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 16px;
}

.chatbot-button:hover {
	background-color: #008b80;
}

.chatbot-container {
	position: relative;
	width: 350px;
	max-width: 100%;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
}

.close-button:hover {
	color: #ff0000;
}